
 #footerRavi>.main {
    /* border: 1px solid red; */
    width: 100%;
    height: 4200px;
    background-color: black;
}


#footerRavi>.main> h1 {
    margin-left: 95px;
    font-size: 25px;
    color: #fdd835;
    margin-bottom:-20px;
}
#footerRavi>div> h1{
   
    margin-left:20px;
}

#footerRavi>#first {
    /* border: 1px solid green; */
    width: 90%;
    height: 300px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
#footerRavi>#first>div>p{
    color: white;
    margin-bottom: -10px;
}
#footerRavi>#first>div>div>p{
    color: white;
}

#footerRavi>#first>div {
    /* border: 1px solid red; */
    width: 24%;

}



#footerRavi>#first>div>div{
    /* border:1px solid red; */
    display:flex;
    margin-left:30px;
    width:90px;
}
#footerRavi>#first>div:nth-child(3)>div>{
    /* border:1px solid red; */
    width:300px;
    height:22px;
}
#footerRavi>#first>div>input{
    margin-left:30px;
    width:90px;
    background-color: black;
    color:white;
    border-bottom-color: #fdd835;
}
#footerRavi>#first>div>h1 {
    font-size: 19px;
    margin-left:20px;
    color:#fdd835
}

#footerRavi>#first>div>p {
    margin-left: 30px;
    font-size: 15px;
}
#footerRavi>#first>div>p+h1{
    margin-top: 50px;;
}







#footerRavi>input{
    width:120px;
    height:30px;
}
#footerRavi>button{
    margin-left:-10px;
    width:100px;
    height:30px;
    background-color: #fdd835;
    color:black;
}

#footerRavi>hr {
    margin: 50px 0px 50px 0px;
    color:white;
}

#footerRavi>#second {
    /* border: 1px solid green; */
    width: 90%;
    height: 1020px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

#footerRavi>#second>div {
    /* border: 1px solid red; */
    width: 24%;

}
#footerRavi>#second>div:nth-child(4){
    color: rgb(113, 182, 182);
    padding-left: 30px;
    
}

#footerRavi>#second>div>p{
    color:white;
    margin-bottom: -10px;
}


#footerRavi>#second>div>h1{
    font-size:22px;
    margin-left:20px;
    color:white
}
#footerRavi>h2{
    font-size: 22px;
}
#footerRavi>#second>div>p{
    margin-left: 20px;
    font-size: 15px; 
}
#footerRavi>#third{
    /* border:1px solid red; */
    width:90%;
    margin:25px 5% 25px 5%;

}
#footerRavi>#third{
    padding-left:15px;
}

#footerRavi>#third>h1{
    margin-left:-1px;
    color:white;
    font-size: 22px;
} 
#footerRavi>#third>p{
    color:white
    
}

#footerRavi>#New-1{
    /* border:1px solid red; */
    width:450px;
    height:30px;
    margin-bottom:15px;
    display:flex;
}
#footerRavi>#New-1>img{
    /* border:1px solid red; */
    width:30px;
    height:30px;
}
#footerRavi>#New-2{
    /* border:1px solid red; */
    width:40px;
    height:30px;
    margin-bottom:15px;
    display:flex;
}
/* #New-3{
    border:1px solid red;
    width:80px;
    height:30px;
    margin-bottom:15px;
    display:flex;
} 
*/

#footerRavi>#New-3>img{
    /* border:1px solid red; */
    width:50px;
    height:30px;
    margin-right: 10px;;
}


#footerRavi>#New-2>img{
    /* border:1px solid red; */
    width:30px;
    height:30px;
}
/* #New1>img+p{
    border:1px solid red;
    width:60px;
    height:30px;
} */